/*
* Css de la busqueda, todos los css se debn modificar en este documento, los otros son la base pero en este se encuentran las modificaciones adecuadas
*/

@font-face {
    font-family: SamsungOne800;
    src: url("../fonts/SamsungOne-800_v1.0.ttf");
}
@font-face {
    font-family: SamsungOne450;
    src: url("../fonts/SamsungOne-450_v1.0.ttf");
}

body{
    background: #000 !important;
    font-family: SamsungOne450;
}

.boton{
    color: #FFF;
    font-family: SamsungOne450;
    font-size: 14px;
    border: 1px solid #0078ce;
    background: #0078ce;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px 20px;
    margin: 10px auto;
    text-decoration: none;
}

.boton:hover{
    color: #FFF;
    border: 1px solid #606060;
    background: #606060;
    text-decoration: none;
}

/* HEADER */
.header{
    width: 100%;
    display: block;
    height: 56px;
    text-align: center;
    background: #FFF;
}
.header img{ margin: 16px auto; }

/* MENU */
.navbar-header{ display: none; }

.navbar-nav{
    float: inherit;
    text-align: center;
    width: 100%;
    padding-top: 7px;
    position: absolute;
    top: 0px;
}

.navbar{
    display: block;
    position: fixed;
    top: 10%;
    left: 100px;
    background: url("../images/linea-menu.png") no-repeat;
    width: 73px;
    height: 380px;
    border: none;
    text-align: center;
}

.navbar .container{
    width: 100%;
    margin: auto;
    padding: inherit;
}

.navbar li{
    float: none !important;
    width: 100%;
    height: 50px;
    background-position: 50% !important;
}

.navbar a{
    background: none !important;
    width: 70%;
    margin: 10px auto;
    height: 45px;
    padding: 5px 0px;
}

.navbar li.mecanica{
    display: block;
    background: url("../images/mecanica-menu-off.png") no-repeat;
}
.navbar li.mecanica.active{ background: url("../images/mecanica-menu-on.png") no-repeat; }

.navbar li.registrate{
    display: block;
    background: url("../images/registrate-menu-off.png") no-repeat;
}
.navbar li.registrate.active{ background: url("../images/registrate-menu-on.png") no-repeat; }

.navbar li.calendario{
    display: block;
    background: url("../images/calendario-menu-off.png") no-repeat;
}
.navbar li.calendario.active{ background: url("../images/calendario-menu-on.png") no-repeat; }

.navbar li.mapa{
    display: block;
    background: url("../images/mapa-menu-off.png") no-repeat;
}
.navbar li.mapa.active{ background: url("../images/mapa-menu-on.png") no-repeat; }

.navbar li.ganadores{
    display: block;
    background: url("../images/ganadores-menu-off.png") no-repeat;
}
.navbar li.ganadores.active{ background: url("../images/ganadores-menu-on.png") no-repeat; }

.navbar li.conocemas{
    display: block;
    background: url("../images/conocemas-menu-off.png") no-repeat;
}
.navbar li.conocemas.active{ background: url("../images/conocemas-menu-on.png") no-repeat; }

/* SECTIONS */
section{
    height: 600px;
}

section hr{
    border: none;
    display: block;
    height: 2px;
    width: 750px;
    background: url("../images/linea-horizontal.png") no-repeat;
    margin: 6px auto;
}

section hr.linea-small{
    border: none;
    display: block;
    height: 1px;
    width: 100px;
    background: url("../images/linea-horizontal-small.png") no-repeat;
    margin: 2px auto 5px;
}

section hr.linea-vertical{
    border: none;
    display: inline-block;
    height: 43px;
    width: 2px;
    background: url("../images/linea-vertical.png") no-repeat;
    vertical-align: middle;
    margin: 0px;
}

section hr.linea-vertical-large{
    border: none;
    display: inline-block;
    height: 157px;
    width: 1px;
    background: url("../images/linea-vertical-large.png") no-repeat;
    vertical-align: middle;
    margin: 0px;
}

section hr.linea-large{
    border: none;
    display: block;
    height: 8px;
    width: 988px;
    background: url("../images/linea-horizontal-larga.png") no-repeat;
    margin: 6px auto;
    opacity: 0.8;
}

section h2{
    color: #61a9d7;
    text-align: center;
    font-size: 28px;
    font-family: SamsungOne800;
;
}

/* INTRO */
.intro-section{
    background: #1b6d85;
    height: auto !important;
    padding: 0px;
}

.intro-section .slider{
    width: 100%;
    padding: 0px;
}

.carousel-control.left{ left: 150px; }
.carousel-control.right{ right: 150px; }

.carousel-control img{
    position: relative;
    top: 47%;
}

/* Mecanica */
.img-title{
    margin: 60px auto 10px;
}

div.steps{
    margin: auto;
    width: 100%;
    text-align: center;
}

div.steps a{
    display: inline-block;
    font-size: 22px;
    font-family: SamsungOne450;
    color: #FFF;
    margin: auto 15px;
    vertical-align: middle;
}

.mecanica-section div a.active{
    color: #61a9d7;
    text-decoration: none;
}

.mecanica-section p{
    font-size: 22px;
    font-family: SamsungOne450;
    color: #FFF;
    text-align: center;
    width: 750px;
    margin: 20px auto;
    height: auto;
    display: none;
}

.mecanica-section p.active{ display: block; }

.mecanica-section .buttons{
    text-align: center;
    width: 100%;
}

.mecanica-section .buttons a{
    width: 177px;
    height: 36px;
    display: inline-block;
    vertical-align: middle;
    margin: 20px;
}

.mecanica-section .buttons a.button-terminos{ background: url("../images/boton-terminos-y-condiciones-off.png") no-repeat; }
.mecanica-section .buttons a.button-terminos:hover{ background: url("../images/boton-terminos-y-condiciones-on.png") no-repeat; }
.mecanica-section .buttons a.button-registrate{ background: url("../images/boton-registrate-off.png") no-repeat; }
.mecanica-section .buttons a.button-registrate:hover{ background: url("../images/boton-registrate-on.png") no-repeat; }

/* Registrate */
.registrate-section{
    background: #020e1e;
}

.registrate-section a.button-twitter{
    margin: 20px auto;
    display: block;
}

.registrate-section p{
    font-size: 15px;
    font-family: SamsungOne450;
    color: #FFF;
    text-align: center;
    width: 988px;
    margin: 10px auto 5px;
}

.registrate-section form{
    width: 950px;
    margin: 5px auto;
    text-align: center;
}

.registrate-section form .form-group{ text-align: center; }

.registrate-section form input[type="text"], .registrate-section form input[type="email"], .registrate-section form input[type="number"], .registrate-section form input[type="date"], .registrate-section form select{
    background: transparent;
    line-height: 0px;
    border: 1px solid #4377c9;
    width: 85%;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 16px;
    font-family: SamsungOne450;
    color: #FFF;
    text-align: left;
    margin: auto;
}
.registrate-section form input[type="number"], .registrate-section form input[type="date"]{ width: 230px; }
.registrate-section form input[type="number"]{ margin-left: 20px; }
.registrate-section form input[type="date"]{
    line-height: 18px;
}
.registrate-section form input[type="radio"]{
    width: 40px;
    height: 15px;
    vertical-align: middle;
}
.registrate-section form label.left{ float: left; margin-left: 40px; }
.registrate-section form input[type="button"]{ margin-top: 50px; }

.registrate-section form .form-inline{
    width: 85%;
    margin: 0px auto 15px;
}

.registrate-section form input[type="text"]::placeholder, .registrate-section form .form-inline, .registrate-section form input[type="email"]::placeholder, .registrate-section form input[type="number"]::placeholder, .registrate-section form select option, .registrate-section form label{
    font-size: 16px;
    font-family: SamsungOne450;
    color: #FFF;
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

.registrate-section .row:nth-child(2) .col-lg-12{
    text-align: left;
}

/* Calenadrio */
.calendario-section{
    color: #7a7d82;
    font-family: SamsungOne450;
}

.calendario-section div.steps, .ganadores-section div.steps{
    margin-top: 20px;
}

.calendario-section div.steps a, .ganadores-section div.steps a{
    color: #7a7d82;
}

.calendario-section div.steps a.active, .calendario-section div.steps a:hover, .ganadores-section div.steps a.active, .ganadores-section div.steps a:hover{
    color: #4377c9;
    text-decoration: none;
}

.calendario-section div.steps a::after, .ganadores-section div.steps a::after{
    content: "";
    width: 10px;
    height: 10px;
    vertical-align: middle;
    background: url("../images/flecha-colapsada.png") no-repeat;
    display: inline-block;
    margin-left: 15px;
}

.calendario-section div.steps a.active::after, .ganadores-section div.steps a.active::after{
    content: "";
    width: 10px;
    height: 10px;
    vertical-align: middle;
    background: url("../images/flecha-abierta.png") no-repeat;
}

.calendario-section p{
    text-align: center;
    width: 100%;
}

.calendario{
    display: none;
    width: 850px;
    margin: 2px auto;
    text-align: center;
    font-size: 14px;
}

.calendario.active{
    display: block;
}

.calendario>div{
    border: 1px solid #0078ce;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 250px;
    color: #7a7d82;
    margin: 5px 4%;
    padding: 0px;
}


.calendario>div h1{
    font-size: 16px;
    background: #0078ce;
    color: #FFF;
    margin: 0px;
    width: 100%;
    padding: 10px 0px;
}

.calendario>div h3{
    font-size: 14px;
    margin: 10px auto 0px;
    color: #61a9d7;
    text-transform: uppercase;
    font-family: SamsungOne800;
}

.calendario>div p{
    font-size: 14px;
}

.calendario-section img.img-alerta{
    margin: 20px auto;
}

/* Mapa */
.mapa-section{
    background: #020e1e;
    text-align: center;
    height: auto;
    padding-bottom: 50px;
}

.div-mapa{
    margin: 0px auto;
    position: relative;
    height: 500px;
    background: #cecece;
    width: 800px;

}

.div-mapa .mapa{
    z-index: 0; 
}

.div-mapa>p{
    position: absolute;
    bottom: 0px;
    z-index: 1;
    width: 100%;
    background: #000;
    opacity: 0.7;
    margin: 0px;
    padding: 20px 0px;
    color: #FFF;
    font-size: 16px;
    font-family: SamsungOne450;
}

.div-mapa .popup{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: #000;
    opacity: 0.7;
    color: #FFF;
}

.div-mapa .popup p{
    width: 100%;
    position: absolute;
    top:40%;
    color: #FFF;
}

.div-mapa .popup img{
    margin: 30% auto;
}

/* Ganadores */
.ganadores-section{
    color: #FFF;
    height: auto;
    padding-bottom: 50px;
}

.ganadores-section p{
    width: 100%;
    text-align: center;
}

.ganadores-section .ganadores{
    display: none;
    width: 850px;
    background: #020e1e;
    margin: 10px auto;
    height: 400px;
    text-align: center;
}

.ganadores-section div.active{
    display: block;
}

.ganadores-section .ganadores>div{
    width: 30%;
    margin: 40px auto;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    height: auto;
}

.ganadores-section .img-avatar{
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.ganadores-section p{
    font-size: 14px;
    color: #aeaeb0;
}

.ganadores-section h3{
    font-size: 16px;
    color: #65b1e1;
}

.ganadores-section .div-twitter{
    width: 35% !important;
    background: #0d161c;
    height: 300px !important;
}

/* Footer */
.footer{
    background: #0e0e0e;
    color: #FFF;
}

.footer .content{
    padding: 10px 0px;
    margin: 0px auto;
    width: 950px;
}

.footer .content div{
    width: 600px;
    display: inline-block;
    vertical-align: middle;
}

.footer .content div p{
    margin: 0px 0px;
}

.footer .content div a{
    color: #fff;
    text-decoration: underline;
}

.footer .content>p{
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
}

.footer .content>img{
    display: inline-block;
    vertical-align: middle;
    margin: auto 10px;
}